<!-- Slides -->
<div class="swiper-slide parent-cat all" cat-id={{currCatId}}><a href="#">All</a></div>
{{#subcat}}
<div class="swiper-slide sub-cat" cat-id={{id}}><a href="#">{{name}}</a></div>
{{/subcat}}