<div class="toolbar toolbar-bottom no-border">
    <div class="toolbar-inner one-column ">
        <a href="#" class="button button-big button-fill color-red update-user"><i class="fa fa-floppy-o" aria-hidden="true"></i> Update</a>
    </div>
</div>
<div class="page-content">
    <div class="banner-cover banner-cover-sm" style="background-image: url('images/banner-1.jpg')">
        <img src="images/banner-1.jpg" alt="">
        <span class="banner-text">Simplicity is the ultimate sophistication.</span>
    </div>
    <div class="content-block">
        <form id="my-account-form">
            <div class="list-block inputs-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Display Name</div>
                                <div class="item-input">
                                    <input type="text" placeholder="" value="{{name}}" name="name"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Contact Number</div>
                                <div class="item-input">
                                    <input type="tel" value="{{contact}}" name="contact"/>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">Email Address</div>
                                <div class="item-input">
                                    <input type="email" readonly value="{{email}}"/>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="content-block no-padding fixed-bottom button-wrap">
    </div>
</div>