<div class="page-content">
    <div class="banner-cover banner-cover-sm" style="background-image: url('images/banner-1.jpg')">
        <img src="images/innerpagebanner02.jpg" alt="">
        <span class="banner-text">Simplicity is the ultimate sophistication.</span>
    </div>
    <div class="content-block">
        {{{content}}}
    </div>
</div>