<div class="page-content">
    <div class="content-block login-wrap-btn">
        <!-- Buttons row as tabs controller -->
        <div class="buttons-row">
            <!-- Link to 1st tab, active -->
            <a href="#tab1" class="tab-link active button">Login</a>
            <!-- Link to 2nd tab -->
            <a href="#tab2" class="tab-link button">Register</a>
        </div>
    </div>

    <div class="content-block">
        <div class="tabs">
            <div class="tab active" id="tab1">
                <form id="login-form">
                    <h4>
                        Welcome back! Log in to make yourself feel at home.
                    </h4>
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Email</div>
                                    <div class="item-input">
                                        <input type="email" name="email">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Password</div>
                                    <div class="item-input">
                                        <input type="password" name="password">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-wrap">
                        <a href="#" class="button button-big button-fill color-red login-button">Sign In</a>
                    </div>
                    <input type="reset" value="Reset Form" class="reset-form">
                </form>
            </div>
            <div class="tab" id="tab2">
                <form id="register-form">
                    <h4>
                        Sign up with us for a world of benefits!
                    </h4>
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Display Name</div>
                                    <div class="item-input">
                                        <input type="text" name="name">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Password</div>
                                    <div class="item-input">
                                        <input type="password" name="password">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Email</div>
                                    <div class="item-input">
                                        <input type="email" name="email">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Contact</div>
                                    <div class="item-input">
                                        <input type="tel" name="contact">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="button-wrap">
                        <a href="#" class="button button-big button-fill color-red register-button">Register</a>
                    </div>
                    <input type="reset" value="Reset Form" class="reset-form">
                </form>
            </div>
        </div>
    </div>
</div>