<div class="toolbar toolbar-bottom no-border">
    <div class="toolbar-inner one-column ">
        <a href="#" class="button button-big button-fill active delete-message" data-index="{{eNotification.index}}"><i
                class="fa fa-trash-o" aria-hidden="true"></i> Delete This Message</a>
    </div>
</div>
<div class="page-content">
    <span class="time">{{eNotification.upload_time}}</span>

    <div class="content-block-title">{{eNotification.title}}</div>
    <div class="content-block content-description">
        {{{eNotification.description}}}
    </div>
    <div class="content-block no-padding fixed-bottom button-wrap">
    </div>
</div>