{{#notification}}
<li class="swipeout to-detail notification-swipeout notification-new">

    <a href="#" class="item-link item-content swipeout-content">
        <div class="item-inner">
            <div class="item-title-row">
                <div class="item-title">{{title}}</div>
            </div>
            <div class="item-text">{{{description}}}</div>
            <div class="item-time">{{upload_time}}</div>
        </div>
        {{#if unread}}<span class="new">new</span>{{/if}}

    </a>

    <div class="swipeout-actions-right">
        <a href="#" class="swipeout-delete" data-confirm="Are you sure want to delete this item?"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
</li>
{{/notification}}